@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  margin-bottom: 0px;
  background-color: #FBFBEF;
}

.avatar-small {
  width: 35px;
  border-radius: 50%;
 
 }
 
 .avatar-thumbnail{
    height: 35px;
    width: 35px;
  border-radius: 5px;
 }
.avatar-medium {
 
   height: 55px;     
  width: 55px;
  border-radius: 48%;
 ;
 
 }
 
.avatar-large {
 
     
  width: 68px;
  border-radius: 50%;
 ;
 
 }
 
 .avatar-full {
 
      width: 100%;
 
 }
 body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #F7F8E0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer-distributed{
	background-color: #FBFBEF;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	

	padding: 6px 50px;
	margin-top: 80px;
	position: fixed;
	bottom: 0;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  black;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 2px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
body {  
 
 color: #565a5c;
 
 }
 
 
 
 .container {
 
 width: 80%;
 
 }
 
 
 
 .navbar-default {
 
 background-color: #FFFFFF;
 
 }
 
 
 
 .navbar-default .navbar-brand {
 
 color: #FF5A5F;
 
 font-size: 2em;
 
 font-weight: 400;
 
 }
 
  
.btn-primary.btn {
 
 border: 1px solid #ff5a5f;
 
 border-radius: 2px;
 
 font-weight: bold;
 
 background-color: #ff5a5f;
 
 color: #fff;
 
 padding: 10px 25px 10px 25px;
 
 }
 
  
.btn-primary.btn:hover, .btn-primary.btn:focus {
 
 border-color: #ff7e82;
 
 border-bottom-color: #fa0008;
 
 background-color: #ff7e82;  
 
 outline:none;
 
 }
 
  
.btn-primary.btn:active {
 
 border-color: #e00007;
 
 background-color: #e00007;  
 
 outline:none;
 
 }
 
  
.btn-default.btn {
 
 width: 100%;
 
 border-radius: 2px;
 
 padding: 10px 0;
 
 margin-top: 10px; 
 
 }
 
  
.panel-default .panel-heading {
 
 color: #565a5c;
 
 background-color: #edefed;
 
 font-size: 18px;
 
 font-weight: 400
 
 }
 
  
.row-space-1 {
 
 margin-top: 6px;
 
 margin-bottom: 6px;
 
 }
 
  
.row-space-2 {
 
 margin-top: 12px;
 
 margin-bottom: 12px;
 
 }
 
  
.row-space-3 {
 
 margin-top: 24px;
 
 margin-bottom: 24px;
 
 }
 
  
.description {
 
 color: #575757;
 
 font-size: 15px;
 
 font-weight: 500;
 
 line-height: 25px;
 
 }
 .form-group {
 
 margin-bottom: 25px;
 
 }
 
  
.form-control {
 
 border-radius: 2px;
 
 height: 4rem;
 
 }
 
  
.sidebar-list {
 
 padding-left: 0;
 
 list-style: none;
 
 }
 
  
.sidebar-item {
 
 padding: 10px 0;
 
 font-size: 16px;
 
 color: #82888a;
 
 border-bottom: 1px solid #CCC;
 
 }
 
  
.sidebar-link {
 
 color: #82888a;
 
 text-decoration: none;
 
 }
 
  
.sidebar-link:hover, .sidebar-link:focus {
 
 color: #cacccd;
 
 text-decoration: none;
 
 }
 
  
.active.sidebar-link {
 
 color: #565a5c;
 
 font-weight: bold;
 
 text-decoration: none;
 
 }
 
  
.btn-file {
 
 position: relative;
 
 overflow: hidden;
 
 }
 
  
.btn-file input[type=file] {
 
 position: absolute;
 
 top: 0;
 
 right: 0;
 
 min-width: 100%;
 
 min-height: 100%;
 
 font-size: 100px;
 
 text-align: right;
 
 filter: alpha(opacity=0);
 
 opacity: 0;
 
 outline: none;
 
 background: white;
 
 cursor: inherit;
 
 display: block;
 
 }
.banner {
 
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    height: 100vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}